<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<!-- # python app.py -->
<body>
    <h1>Todo App</h1>
    <form action="/add" method="POST">
        <label for="title">Todo Title</label>
        <input type="text" name="title" placeholder="Enter todo..." autocomplete="off">
        <br>
        <button type="submit">Add</button>
    </form>

    {% for todo in todoList %}
    <div class="segment">

        <p class="content-todo">{{ todo.id }} | {{ todo.title }}</p>
        
        {% if todo.complete == False %}
        <span class="not">Not Complete</span>
        {% else %}
        <span class="complete">Complete</span>
        {% endif %}
        
        <a class="btn-update" href="/update/{{ todo.id }}">Update</a>
        <a class="btn-delete" href="/delete/{{ todo.id }}">Delete</a>
        
    </div>
    {% endfor %}

</body>
</html>